* {
    text-decoration: none;
    list-style: none; 
    margin: 0;
    padding: 0;
    background-color: rgb(49, 48, 48);
}

#homeh1Title, #homeh2Title {
    display: flex;
    justify-content: space-around;
    margin: 15px;
    font-size: 45px;
    color: rgb(36, 36, 226);
} 

#homeUlProducts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px;
}

.homeUlLi {
    flex:  1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    margin: 10px;
    border: 2px solid white;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(209, 206, 206);
}

.homeUlLiDiv {
    display: flex;
    background-color: rgb(209, 206, 206);
}

.homeUlLih2, .homeUlLih3, .homeUlLih4, .homeUlLih5, .homeUlLih6, .homeUlLip, .homeUlLih3Stock, .homeUlLih3Code    {
    color: rgb(56, 153, 97);
    margin: 5px;
    background-color: rgb(209, 206, 206);
}

#homeDivFooter {
    display: flex;
    justify-content: space-between;
}

#homeDivFtA1, #homeDivFtAPrev, #homeDivFtANext, #homeDivFtALast {
    color: brown;
    margin: 15px;
    font-size: 20px;
}

.homeUlLiDivBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(209, 206, 206);
}

.homeUlLiDivBottomQuantity {
    display: flex;  
    background-color: rgb(209, 206, 206);
}

.homeUlLiDivBottomQuantityP, #homeUlLiDivBottomQuantityInput, #homeUlLiDivQuantityInput  {
    background-color: rgb(209, 206, 206);
    margin: 0 5px;
}

.btnAddProductToCart, .btnAddProduct {
    padding: 5px;
    background-color: lightblue;
    border-radius: 5px;
    color: rgb(44, 12, 224);
}

#homeDivCart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

#homeDivCartP {
    color: white;
    margin-right: 15px;
}

#homeDivSectCart, #homeDivSectCartId {
    background-color: white;
    color: black;
}

#homeDivPagination {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeDivPaginationP {
    color: wheat;
    font-size: 15px;
    margin: 5px 0;
}

